language: node_js
node_js:
  - "6"
  - "8"
env:
  - CMD=lint
  - CMD=fbjs:build
  - CMD=fbjs:test
  - CMD=fbjs:flow
  - CMD=preset:test
  - CMD=signedsource:test
script: yarn run $CMD
before_install:
  # Install latest yarn (will go to ~/.yarn) and update $PATH for current shell
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"
